---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    ¿Listo para transformar tus datos en decisiones?
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Hablemos sobre cómo optimizar tu operativa, mejorar tu conversión y escalar tu infraestructura en la nube.
  </p>
  <div class="flex mt-10">
    <Link 
      href="mailto:tu-email@ejemplo.com" 
      style="inverted" 
      size="lg">
      Contacta con TRIAD
    </Link>
  </div>
</div>