---
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500 font-medium uppercase tracking-wider text-sm">Nuestro Stack Tecnológico & Partners</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="size-12 md:size-16 text-slate-400 hover:text-orange-500 transition" name="bx:bxl-aws" title="AWS Infrastructure" />
    
    <Icon class="size-12 md:size-16 text-slate-400 hover:text-blue-600 transition" name="bx:bxl-python" title="Python Data Analysis" />
    <Icon class="size-12 md:size-16 text-slate-400 hover:text-indigo-600 transition" name="bx:bxs-data" title="SQL Databases" />
    
    <Icon class="size-12 md:size-14 text-slate-400 hover:text-yellow-500 transition" name="simple-icons:powerbi" title="Power BI" />
    
    <Icon class="size-12 md:size-16 text-slate-400 hover:text-green-600 transition" name="bx:bxs-bar-chart-alt-2" title="Business Intelligence Strategy" />
  </div>
</div>